<!DOCTYPE html>
<html>
  <head>
    <title>OnlineChess</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="topnav">
      <% if logged_in? %>
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Login", login_path %>
      <% end %>
      <%= link_to "Home", root_path, class: "active" %>
      <%= link_to "My Profile", user_path(current_user) %>
    </div>
    <%= yield %>
  </body>
</html>
